<% include partials/header.ejs %>
<h1> THIS IS THE PORTION WHERE THE API IS DISPLAYED </h1>
<h3> the name is <%= name %> the id is <%= id %> the time is <%= time %> </h3>
<% include partials/footer.ejs %>
