<% include partials/header.ejs %>
<form action="/results" method="GET">
  <input type="text" name="searching"></input>
<button type="search" name="search">Search Movie</button>
</form>
<% include partials/footer.ejs %>
